@import "functions";

.btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 32px;
  color: var(--color6);
  height: 48px;
  padding: 0 24px;

  @include breakpoint(desktop) {
    height: 56px;
    padding: 0 31px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
}

.btn:hover {
  cursor: pointer;
}

.btn-1 {
  background-color: var(--color2);

  &:hover {
    background-color: var(--color1);
  }
}

.btn-2 {
  background: var(--gradient1);
  padding: 0 39px;
  font-weight: 700;
  height: 56px;

  @include breakpoint(desktop) {
    padding: 0 31px;
    height: 63px;
  }
}

.btn-2:hover {
  background: var(--hover-gradient1);
}

.btn-3 {
  background: var(--gradient2);
}

.btn-3:hover {
  background: var(--hover-gradient2);
}

.section-offers__heading {
  display: flex;
  align-items: center;
}
