:root {
  --main-font: "Plus Jakarta Sans", sans-serif;
  --color1: #666ca3;
  --color2: #13183f;
  --color3: #83869a;
  --color4: #f74780;
  --color5: #ffa7c3;
  --color6: #ffffff;
  --gradient1: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --gradient2: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  --hover-gradient1: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --hover-gradient2: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  --main-color: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
