
:root {
  --main-font: 'Plus Jakarta Sans', sans-serif;
  --color1: #666CA3;
  --color2: #13183F;
  --color3: #83869A;
  --color4: #F74780;
  --color5: #FFA7C3;
  --color6: #FFFFFF;
  --gradient1: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  --gradient2: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
  --hover-gradient1: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  --hover-gradient2: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
  --main-color: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}




