:root {

}

.heading-xl_font {
    font-family: var(--main-font);
    font-size: 56px;
    line-height: 70px;
    font-weight: 800;
}

.heading-l_font {
    font-family: var(--main-font);
    font-size: 40px;
    line-height: 51px;
    font-weight: 800;
}

.heading-m_font {
    font-family: var(--main-font);
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
}

.heading-s_font {
    font-family: var(--main-font);
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
}

.medium-heading_font {
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.bold-heading_font {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
}

.card-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
